fastapi
uvicorn[standard]
pydantic
pydantic-settings
sqlalchemy
psycopg2-binary
sentence-transformers
chromadb
rank_bm25
langchain>=0.3.0
langchain-community>=0.3.0
langchain-huggingface
langchain-core>=0.3.0
langchain-ollama
python-dotenv
numpy
tqdm
pytest
httpx
