fastapi
uvicorn[standard]
pydantic
pydantic-settings
sqlalchemy
psycopg2-binary
langchain
langchain-openai
pinecone-client
python-multipart
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
numpy
langchain-community
chromadb
rank_bm25
langchain-chroma
ragas
langchain-ollama
